* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: outfit;
  src: url(./fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
  font-family: youngSerif;
  src: url(./fonts/young-serif/YoungSerif-Regular.ttf);
}
:root {
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
  --font-title: youngSerif;
  --font-text: outfit;
}
body {
  font-family: var(--font-text);
  background-color: var(--eggshell);
  font-size: 15px;
  color: var(--wenge-brown);
}
.card {
  /* width: 735px; */
  padding: 40px;
  border-radius: 30px;
  background-color: var(--white);
  margin: 120px auto;
}
header {
  width: 100%;
  height: 300px;
}
header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
main {
  margin-top: 35px;
}
main .title {
  font-size: 40px;
  font-family: var(--font-title);
  color: #000;
}
main .desc {
  margin: 20px 0 30px;
}
main .prepare-time {
  background-color: var(--rose-white);
  border-radius: 15px;
  padding: 28px;
}
main .prepare-time p {
  color: var(--dark-raspberry);
  font-size: 18px;
  font-weight: bold;
}
main .prepare-time li {
  padding-left: 14px;
  margin: 14px 0 14px 22px;
}
main .prepare-time li:last-child {
  margin-bottom: 0;
}
main .prepare-time span {
  font-weight: bold;
}
article {
  margin-top: 30px;
}
article .heading {
  color: var(--nutmeg);
  font-size: 26px;
  font-family: var(--font-title);
  margin-bottom: 20px;
}
hr {
  border-color: var(--light-grey);
  opacity: 0.5;
}
article ul,
ol {
  margin-bottom: 33px;
}
article ul li::marker,
ol li::marker {
  color: var(--nutmeg);
  font-weight: bold;
}
article li {
  padding-left: 14px;
  margin: 14px 0 14px 22px;
}
article ol span {
  color: var(--wenge-brown);
  font-weight: bold;
}
.nutritional .desc {
  margin-bottom: 22px;
}
.nutritional .nutrition-wrap p {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.nutritional .nutrition-wrap span {
  width: 50%;
}
.nutritional .nutrition-wrap p span:first-child {
  padding-left: 30px;
}
.nutritional .nutrition-wrap p span:last-child {
  color: var(--nutmeg);
  font-weight: bold;
}
.nutritional .nutrition-wrap p:not(p:last-child) {
  margin: 15px 0;
}
.nutritional .nutrition-wrap p:last-child {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
  .card {
    width: 735px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  .card {
    margin: 20px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
  .card {
    margin: 20px;
  }
}
